@use "sass:color";
@use "../abstracts" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'opensans', normal;
    color: $color-primary;

/*     @media (min-width: 100em) {
        font-size: 133%;        
    } */
/*     @media (min-width: 150em) {
        font-size: 166%;        
    } */
/*     @media (min-width: 200em) {
        font-size: 200%;        
    } */
/*     @media (max-width: $breakpoint-xxs) {
        font-size: 75%;
    } */
}

a {
    cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    font-family: inherit;
}

@mixin -generate-selection() {
    color: white;
    background-color: color.scale($color-secondary, $alpha: -20%);
}

::-moz-selection {
    @include -generate-selection();
}

::selection {
    @include -generate-selection();
}

.overlay {
    //display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba($color-primary, 0.07);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
  }