@use "sass:color";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'opensans', normal;
    color: $color-primary;

/*     @media (min-width: 100em) {
        font-size: 133%;        
    } */
/*     @media (min-width: 150em) {
        font-size: 166%;        
    } */
/*     @media (min-width: 200em) {
        font-size: 200%;        
    } */
    @media (max-width: $breakpoint-xxs) {
        font-size: 75%;
    }
}

a {
    cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    font-family: inherit;
}

@mixin -generate-selection() {
    color: white;
    background-color: color.scale($color-secondary, $alpha: -20%);
}

::-moz-selection {
    @include -generate-selection();
}

::selection {
    @include -generate-selection();
}