@font-face {
  font-family: 'opensans', sans-serif;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/open-sans/OpenSans-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'opensans', sans-serif;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/open-sans/OpenSans-Italic-Variable.ttf') format('truetype');
}
