@font-face {
    font-family: "opensans";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../fonts/open-sans/OpenSans-VariableFont_wdth\,wght.ttf") format("woff2");
}

@font-face {
    font-family: "opensans";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("../fonts/open-sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf") format("woff2");
}