h2 {
    font-family: 'opensans', normal;
    font-size: 3rem;
    font-weight: 800;
}

.hero-font {
    font-family: 'opensans', normal;
    font-size: 2rem;
    font-weight: 800;
}

.links {
    font-family: 'opensans', normal;
    font-size: 2rem;
    font-weight: 500;
}

h3 {
    font-family: 'opensans', normal;
    font-size: 2.25rem;
    font-weight: 500;
}

h4 {
    font-family: 'opensans', normal;
    font-size: 1.5rem;
    font-weight: 400;
}

h5 {
    font-family: 'opensans', normal;
    font-size: 1.25rem;
    font-weight: 500;
}

// subtitle big
.subtitle-big {
    font-family: 'opensans', normal;
    font-size: 1.25rem;
    font-weight: 400;
}

// subtitle small
.subtitle-small {
    font-family: 'opensans', normal;
    font-size: 1rem;
    font-weight: 400;
}

// body 2
.small-font {
    font-family: 'opensans', normal;
    font-size: 0.75rem;
    font-weight: 400;
}

// caption
small {
    font-family: 'opensans', normal;
    font-size: 0.625rem;
    font-weight: 400;
}

.button-font {
    font-family: 'opensans', normal;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}