.checkout-layout {
    background-color: $bg-checkout;
    color: $color-primary;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkout_title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    @media (min-width: $breakpoint-xs) {
        padding: 1rem 4rem;
    }
    &_back {
        height: 1.85em;
        width: 1.85em;
        stroke: $color-primary;
        cursor: pointer;
    }
    &_menu {
        height: 1.85em;
        width: 1.85em;
        cursor: pointer;
    }
}

.navigation {
    width: 100%;
    padding: 1rem;
    @media (min-width: $breakpoint-xs) {
        padding-bottom: 3rem;
    }
    a {        
        display: flex;
        justify-content: center;
    }
    button {
        width: 100%;
        @media (min-width: $breakpoint-xs) {
            width: 15rem;
        }
    }
}