.address {
    padding: 1rem; 
    min-height: calc(100vh - 10rem);
    @media (min-width: $breakpoint-xs) {
        padding: 1rem 4rem;
        min-height: calc(100vh - 14rem);
    }
    .address-tabs {
        @media (min-width: $breakpoint-xs) {
            padding-top: 10vh;
        }
    }
}