.list {
    &_error {
        text-align: center;
        display: flex;
        flex-direction: column;

        &_heading {
            color: red;
        }
    }

    &-content {
        &_settings {
            margin: 2rem 0;
            padding: 0 1rem;
            display: flex;
            height: 2rem;
            //justify-content: space-evenly;

            background: linear-gradient(to right,
                    transparent 0%,
                    transparent calc(50% - 1px),
                    black calc(50% - 1px),
                    black calc(50% + 1px),
                    transparent calc(50% + 1px),
                    transparent 100%);

            &_item {
                padding-left: 2rem;
                display: flex;
                justify-content: start;
                width: 100%;
                cursor: pointer;
            }
            &_icon {
                height: 1.75rem;
                width: 1.75rem;
                stroke: $color-primary;
                fill: $color-primary;
                margin-right: .8rem;
            }
        }

        &_grid {
            height: 100%;
            padding: 1rem 1rem;
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
        }
    }
}